:root {
  --primary: #556dcd;
  --mdc-theme-primary: #556dcd;
  --mdc-theme-secondary: #556dcd;
}
.name {
  transition: all 0.3s ease;
}
.name:hover {
  color: var(--primary);
  transition: all 0.3s ease;
}
.nav-item.active {
  color: white;
  background-color: var(--primary);
}
.nav-item.active .nav-link {
  color: white;
}
.sidebar .nav-item {
  transition: all 0.2s ease;
}
.sidebar .nav-item:hover {
  color: white;
  background-color: var(--blue);
  transition: all 0.2s ease;
}
.sidebar .nav-link:hover {
  color: white;
  transition: all 0.2s ease;
}
.bg-login {
  background: #ffffff url("/img/bg.svg") no-repeat center bottom;
  background-position: center bottom -20px;
  background-size: 100%;
}
.form-nilai{
  display: flex;
  justify-content: center;
}
.form-nilai>input{
  width: 3em;
}
.card-list{
  display: flex;
  padding: 1em;
}
.chooser{
  margin: 0 1em;
}
.manage-attachment .modal-body{
  display: block;
}

@media (max-width: 992px) {
  .bg-login {
    background-size: 100%;
  }
}
@media (max-width:500px){
  .card-list{
    display: block;
  }
  .chooser{
    margin: 1em;
  }
}
.btn {
  border-radius: 3px;
}
.start-container:hover .minutes-center,
.start-container:focus .minutes-center,
.start-container:active .minutes-center {
  display: block;
}
.minutes-center {
  display: none;
  right: 35px;
  top: 35%;
}
.sidebar {
  border-right: 1px solid rgba(128, 128, 128, 0.15);
  box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
}
