:root {
  --primary: #556dcd;
  --mdc-theme-primary: #556dcd;
}
.name {
  transition: all 0.3s ease;
}
.name:hover {
  color: var(--primary);
  transition: all 0.3s ease;
}
.nav-item.active {
  color: white;
  background-color: var(--primary);
}
.nav-item.active .nav-link {
  color: white;
}
.sidebar .nav-item {
  transition: all 0.2s ease;
}
.sidebar .nav-item:hover {
  color: white;
  background-color: var(--blue);
  transition: all 0.2s ease;
}
.sidebar .nav-link:hover {
  color: white;
  transition: all 0.2s ease;
}
.bg-login {
  background: #ffffff url("/img/bg.svg") no-repeat center bottom;
  background-position: center bottom -20px;
  background-size: 100%;
}

@media (max-width: 992px) {
  .bg-login {
    background-size: 100%;
  }
}
.navbar-brand img {
  width: auto;
  max-height: 50px;
}
.btn {
  border-radius: 3px;
}
